* {
  padding: 0px;
  margin: 0px;
}

.contentbox {
  border: 1px solid #000000;
  margin: 10px;
  background-color: #4edf198a;
  display: flex;
  flex-direction: column;
  /* this aligns everything inside the box */
  align-items: center;
}

.contentbox p {
  line-height: 175%;
}

.contentbox p span {
  display: none;
}

.contentbox img {
  text-align: center;
  width: 90%;
  box-shadow: 2px 2px 4px 1px #000000;
  margin: 10px;
}

/* Extended this min-width compared to styles.css */
@media (min-width: 768px) {
  .contentbox {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .contentbox img {
    margin: 20px;
    width: 40%;
  }

  .contentbox p span {
    display: block;
    line-height: 250%;
  }
}
