body {
    margin: 0;
    font-size: 1.1rem;
}

header, footer {
    /* background-color: #815933; */
    background-color: #1f0f88;
    padding: 10px 15px 5px;
    margin: 0px;
}
header h1{
    margin: 5px;
    color: #ffffff;
}
button {
    margin: 5px;
    padding: 5px;
    background-color: #0f4418;
    color: #fff;
    
}
footer {
    font-size: 1rem;
}
footer div{
    margin: 5px;
    padding: 5px;
    background-color: #fff;
}

main {
    margin: 20px;
}
p {
    margin: 0px 0px 0px 50px;
    padding: 0px;
    margin-bottom: 10px;
    /* border: 1px solid #000; */
}
.subsection {
    border: 1px solid #000000;
    padding: 10px;
    padding-bottom: 25px;
    background-color: #4272c53b;
}
.futureImage{
    height: 10rem;
    width: 20rem;
    text-align: center;
    background-color: #91ff00;
    color:#ff0062;
}