/* Star "*" is a wild card, so it means every element */
body {
    margin: 0;
    font-size: 1.1rem;
    /* basic font for everything, can change using specificity */
    font-family: 'Neuton';
} 

#wrapper {
    /* margin :0 auto  - centers; top-bottom = 0px, left-right = auto */
    margin: 0 auto;
    /* maximum width that our page can be */
    max-width: 1050px;
}

header, footer {
    background-color: #1f0f88;
    padding: 10px 15px 5px;
    margin: 0px;
}
header h1{
    font-family: 'Nanum Myeongjo';
    margin: 5px;
    color: #ffffff;
}
header h1:visited {
    color:#ffffff;

}
.navigation ul{
    list-style-type: none;
    display: inline;
    padding: 0px;
    margin: 0px;
}
.navigation li{
    display: inline;
}
.navigation-item {
    display:inline;
}

button {
    margin: 5px;
    padding: 5px;
    background-color: #0f4418;
    color: #fff;
}
footer {
    font-size: 1rem;
}
footer div{
    margin: 5px;
    padding: 5px;
    background-color: #fff;
}

main {
    margin: 20px;
}
p {
    margin: 0px 0px 0px 50px;
    padding: 0px;
    margin-bottom: 10px;
    /* border: 1px solid #000; */
}
.subsection {
    /* display:flex; */
    /* flex-flow: row; */
    border: 1px solid #000000;
    padding: 10px;
    margin: 5px;
    padding-bottom: 25px;
    background-color: #4272c53b;
    /* justify-content: space-between; */
}
.subsection-item {
    background-image: "img/mlb_logo.jpg";
    /* display:inline; */
}
.futureImage{
    height: 10rem;
    width: 20rem;
    text-align: center;
    background-color: #91ff00;
    color:#ff0062;
}