* {
  margin: 0;
  padding: 0;
  font-family: "Neuton", "Times New Roman";
}

header {
  color: #fff;
  background-color: #1f0f88;
  padding: 5px 30px;
  margin: 0px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
}

header img {
  margin: auto 0;
  height: 3rem;
}

header h1 {
  font-family: 'Nanum Myeongjo';
  display: inline;
  font-size: 2.3rem;
  margin: auto 0;
  /* this creates 4 shadows around the word giving it an outlined look, with slight weigth to the left */
  text-shadow: -3px 2px 0 #000,
				  1px 1px 0 #000,
				 1px -1px 0 #000,
				-1px -1px 0 #000;
}

.openbtn {
  font-size: 1.5rem;
  display: inline-block;
  cursor: pointer;
  background-color: #2CA800;
  color: #fff;
  border: 3px outset #000;
  border-radius: 10%;
  padding: 10px;
}

.openbtn span {
  /* defualt is don't show the word "menu" */
  display: none;
}

.openbtn:hover {
  /* when hovering... */
  background-color: #0a270e;
  box-shadow: 0px 0px 5px 3px #2CA800
}

.sidepanel {
  /* low z-index (closer to 1) means that this will sit on top of everything else */
  z-index: 1;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #111;
  /* This sets it so that the anything that is "overflowing" on the x axis isn't shown*/
  overflow-x: hidden;
  /* How long it takes to 'open'/extend the menu */
  transition: 0.4s;
  padding: 0;
}

.sidepanel a {
  padding: 0px 10px;
  margin: 10px 25px;
  /* margin-left: 20px;
    margin-right: 35px; */
  text-decoration: none;
  font-size: 1.5rem;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.sidepanel a:hover {
  color: #fff;
  border-bottom: 1px solid #fff;
  background-color: #40ee0099;
}

#closebtn {
  margin: 10px 25px;
  display: block;
  margin-bottom: 15px;
  /* Set the  position to absolue within it's parent, in this case it is within the sidepanel */
  position: absolute;
  /* specify where the top and right positions are */
  top: 0;
  right: 40px;
  font-size: 2rem;
}

/* This is how the current page on the menu would look like */
#current-page {
  background-color: #1f0f88;
  border: 2px solid #2CA800;
}

#content {
  font-size: 1.1rem;
  padding: 10px 15px;
}

/* setting this to 600 so it matches the javascript  */
@media (min-width: 600px) {

  /* show the word "Menu" in the button */
  .openbtn span {
    display: inline;
  }

  .openbtn:hover span {
    border-bottom: 1px solid #fff;
  }

  /* change padding in the header */
  header {
    justify-content: space-around;
  }

  .openbtn {
    border-radius: 20%;
  }
}