/* CSS for the footer assignmet */
* {
    margin: 0px;
    padding: 0px;
    font-family: "Neuton", "Times New Roman", "Serif";
}
footer {
    color: #fff;
    background-color: #21619D;
    padding: 10px;
    text-align: center;
    font-size: 1.1rem;
}
footer a{
    text-decoration: none;
    border-bottom: 2px solid #fff;
    color: #40ee00;
}
footer a:hover {
    background-color: #000;
}
footer a:visited{
    color: #40ee00;
}